.Header {
    position:relative;

    height: 10vh;
    width: 100vw;
}

.Header nav {
    position: absolute;
    top: 25%;
    bottom: 25%;
    
    height: 50%;
    width: 100%;
}

.Header nav img {
    position: absolute;
    left: 20px;
    
    height: 100%;
}

.Header nav ul {
    display: flex;
    position: absolute;
    right: 25px;

    list-style: none;
    list-style-type: none;

    height: 100%;
    margin: 0 !important; /* to override default stylesheet*/
}

.Header nav ul li {
    text-align: center;
    width: 100px;
    float: left;
}

.Header nav ul li button{
    position: inherit;
    background-color: white;
    color: black;
    text-align: center;
    border: none;

    height: 100%;
}

.Header .Separator {
    position: absolute;
    bottom: 0px;
    min-height: 2px;
    width: 100%;

    background-color: black;
}
